body {
  max-width: 80%;
  margin: auto;
}

.jumbotron ul li {
  width: 30%;
  margin: auto;
}

.jumbotron p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.mainApp {
  width: 15%;
  margin: auto;
}

.form-check.item li {
  padding: 0;
  width: 20%;
  margin: auto;
  text-align: center;
}


